@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Lilita+One&display=swap');

:root {
    --lilas: #aaacd6;
    --branco: #fcfcfd;
    --amarelo: #F9F07A;
    --rosa: #FB88B4;
    --font-titulo: "Lilita One", sans-serif;
    --font-texto: "Chau Philomene One", sans-serif;
}

body {
    background-color: var(--lilas);
    color: var(--branco);
    font-family: var(--font-texto);
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}